spring:
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
      enabled: true

  datasource:
    url: jdbc:mysql://localhost:3306/morapack5?useSSL=false&serverTimezone=UTC
    username: root
    password: J0s3ph234!
    driver-class-name: com.mysql.cj.jdbc.Driver

    hikari:
      connection-timeout: 20000
      maximum-pool-size: 5
      minimum-idle: 5
      idle-timeout: 10000
      max-lifetime: 1800000

  jpa:
    hibernate:
      ddl-auto: update
      show-sql: true
      format-sql: true
    generate-ddl: true

  mvc:
    cors:
      allowed-origins: "*"
      allowed-methods: "*"
      allowed-headers: "*"
      allow-credentials: true

server:
  port: 8081
  servlet:
    context-path: /api
  tomcat:
    connection-timeout: 600000

logging:
  level:
    org.hibernate.SQL: INFO
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    backend: INFO
